.dataContainer
{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 50px;
}
.progressbar
{
    width: 500px;
}
.BaseStatsContainer
{
    margin: auto;
}
hr
{
    text-align: left;
    width: 400px;
    margin-left: 0;
}