.pokemon-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.pokemon-photo {
    width: 100px;
    margin: 10px;
}

.pokemon-name {
    font-weight: 700;
    text-align: center;
}